body {
    background: rgb(173,171,169);
    background: linear-gradient(90deg, rgba(173,171,169,1) 50%, rgba(50,44,35,1) 100%);
}

.card {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 50%;
    transform:  translateX(-50%);
}

.card-header {
    text-align: center;
}
